################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WcfStorm.Tala.Resources/bin/Debug
/WcfStorm.Tala.Resources/obj/Debug
